In [26]:
import numpy as np
import pandas as pd

In [32]:
df = pd.read_csv("train.csv")

In [33]:
df.head(20)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0
5,6,Female,24,1,33.0,0,< 1 Year,Yes,2630.0,160.0,176,0
6,7,Male,23,1,11.0,0,< 1 Year,Yes,23367.0,152.0,249,0
7,8,Female,56,1,28.0,0,1-2 Year,Yes,32031.0,26.0,72,1
8,9,Female,24,1,3.0,1,< 1 Year,No,27619.0,152.0,28,0
9,10,Female,32,1,6.0,1,< 1 Year,No,28771.0,152.0,80,0
10,11,Female,47,1,35.0,0,1-2 Year,Yes,47576.0,124.0,46,1
11,12,Female,24,1,50.0,1,< 1 Year,No,48699.0,152.0,289,0
12,13,Female,41,1,15.0,1,1-2 Year,No,31409.0,14.0,221,0
13,14,Male,76,1,28.0,0,1-2 Year,Yes,36770.0,13.0,15,0
14,15,Male,71,1,28.0,1,1-2 Year,No,46818.0,30.0,58,0
15,16,Male,37,1,6.0,0,1-2 Year,Yes,2630.0,156.0,147,1
16,17,Female,25,1,45.0,0,< 1 Year,Yes,26218.0,160.0,256,0
17,18,Female,25,1,35.0,1,< 1 Year,No,46622.0,152.0,299,0
18,19,Male,42,1,28.0,0,1-2 Year,Yes,33667.0,124.0,158,0
19,20,Female,60,1,33.0,0,1-2 Year,Yes,32363.0,124.0,102,1

In [34]:

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Vehicle_Age'] = le.fit_transform(df['Vehicle_Age'])

In [35]:
df.head(20)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,2,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,0,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,2,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,1,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,1,No,27496.0,152.0,39,0
5,6,Female,24,1,33.0,0,1,Yes,2630.0,160.0,176,0
6,7,Male,23,1,11.0,0,1,Yes,23367.0,152.0,249,0
7,8,Female,56,1,28.0,0,0,Yes,32031.0,26.0,72,1
8,9,Female,24,1,3.0,1,1,No,27619.0,152.0,28,0
9,10,Female,32,1,6.0,1,1,No,28771.0,152.0,80,0
10,11,Female,47,1,35.0,0,0,Yes,47576.0,124.0,46,1
11,12,Female,24,1,50.0,1,1,No,48699.0,152.0,289,0
12,13,Female,41,1,15.0,1,0,No,31409.0,14.0,221,0
13,14,Male,76,1,28.0,0,0,Yes,36770.0,13.0,15,0
14,15,Male,71,1,28.0,1,0,No,46818.0,30.0,58,0
15,16,Male,37,1,6.0,0,0,Yes,2630.0,156.0,147,1
16,17,Female,25,1,45.0,0,1,Yes,26218.0,160.0,256,0
17,18,Female,25,1,35.0,1,1,No,46622.0,152.0,299,0
18,19,Male,42,1,28.0,0,0,Yes,33667.0,124.0,158,0
19,20,Female,60,1,33.0,0,0,Yes,32363.0,124.0,102,1

In [36]:
df.corr()

C:\Users\omii\AppData\Local\Temp\ipykernel_7676\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,id,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Annual_Premium,Policy_Sales_Channel,Vintage,Response
id,1.000000,0.001561,-0.000564,-0.000572,0.002457,-0.001345,0.003027,-0.002837,-0.000630,-0.001368
Age,0.001561,1.000000,-0.079782,0.042574,-0.254682,-0.522300,0.067507,-0.577826,-0.001264,0.111147
Driving_License,-0.000564,-0.079782,1.000000,-0.001081,0.014969,0.030173,-0.011906,0.043731,-0.000848,0.010155
Region_Code,-0.000572,0.042574,-0.001081,1.000000,-0.024659,-0.027840,-0.010588,-0.042420,-0.002750,0.010570
Previously_Insured,0.002457,-0.254682,0.014969,-0.024659,1.000000,0.174783,0.004269,0.219381,0.002537,-0.341170
Vehicle_Age,-0.001345,-0.522300,0.030173,-0.027840,0.174783,1.000000,0.023656,0.388551,0.002484,-0.104078
Annual_Premium,0.003027,0.067507,-0.011906,-0.010588,0.004269,0.023656,1.000000,-0.113247,-0.000608,0.022575
Policy_Sales_Channel,-0.002837,-0.577826,0.043731,-0.042420,0.219381,0.388551,-0.113247,1.000000,0.000002,-0.139042
Vintage,-0.000630,-0.001264,-0.000848,-0.002750,0.002537,0.002484,-0.000608,0.000002,1.000000,-0.001050
Response,-0.001368,0.111147,0.010155,0.010570,-0.341170,-0.104078,0.022575,-0.139042,-0.001050,1.000000